---
layout: default
---
<!-- <section class="posts">
  {% for tag in site.tags %}
      <ul>
      <h4>#{{ tag }}</h4>
      {% for post in site.posts %}
      {% if post.tags contains tag %}
      <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%m-%d-%Y" }}</time></li>
      {% endif %}
      {% endfor %}
      </ul>
  {% endfor %}
</section> -->
<section class="posts">
<ul>
  {% for tag in site.tags %}
    <h3>#{{ tag }}</h3>
  {% endfor %}
{% for post in site.posts %}
<li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%m-%d-%Y" }}</time></li>
{% endfor %}
</ul>
</section>           

